*{
  font-family: sans-serif;
}
  body{
  background-color: black;
  }
.container-fluid{
  position: relative;
  /* width: 80%;
    margin: auto;
    margin-top: 50px;
    color: white; */
}
.task{
  font-size: 45px;
  color: white;
  font-weight: bolder;
}
.list{
  font-size: 45px;
  color: white;
  font-weight: 100;
  color: grey;
}
div i{
  
  color: skyblue;
  font-size: 42px;
  cursor: pointer;
}
.text2{
  font-size: 45px;
  color: white;
  font-weight: 100;
}
  .addbtn {
  display: inline-block;
  text-align: right;
  font-size: 40px;
  font-weight: lighter;
  padding: 1.3rem;
  /* position: relative; */
  z-index: 2;
  }
  i {
  font-size: 2rem;
  color: #FD5d5d;
  cursor: pointer;
  }
  .popup {
  border-radius: 10px;
  color: #FD5d5d;
  width: 50vw;
  max-width: 350px;
  z-index: 1;
  text-align: center;
  font-family: Roboto, sans-serif;
  /* padding: 2.5rem; */
  font-size: 20px;
  box-shadow: 5px 5px 10px rgb(202, 197, 197);
  background-color: lightgray;
  position: absolute;
  top: 35%;
  left: 35%;
  padding: 20px;
  border: none;
  }
  input{
  border-radius: 15px;
  width: 70%;
  max-width: 270px;
  height: 35px;
  box-shadow: 5px 5px 10px rgb(142, 53, 53);
border: none;
  display: block;
  margin: auto;
  }
  .button {
  width: 80px;
  height: 35px;
  font-size: 20px;
  background-color: #FD5d5d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 1.5rem;
  box-sizing: border-box;
  padding: 0.35rem;
  }
  
  .noitems{
    font: 100 1.5rem/2rem arial;
    /* margin-bottom: 30px; */
  color: white;

} 
.blur {
  filter: blur(8px);
}
  
  .static-page{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* margin: 20px; */
    /* padding: 20px; */

  }
  
  .cardContainer{
    /* margin: 20px; */
    /* padding: 10; */
    color: white;
    text-align: center; 
 display: flex; 
 justify-content: space-between;
  flex-wrap: wrap;
    
  }
  
  .cardbtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    /* flex-direction: row-reverse; */
  }
  .cardbtn i {
    padding: 0.5rem;
  }
  #title{
    cursor: pointer;
    font-size: 2rem;
    border-bottom: 1px solid black;
    margin-top: 0;
  }
  .box {
    position: relative;
    min-height: 300px;
    width: 20%;
    margin: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 20px 10px 3.5rem;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    color:#FD5d5d;
    box-shadow: 5px 5px 10px rgb(209, 204, 204);
    background-color: white;
    border: none;
  }
  .compBtn{
    margin: 5px;
    background-color: skyblue;
    border-radius: 15px;
    border: 2px solid transparent;
  }
  
  
  /*---------------second page css -------------------------*/
  .pageSecond{
    position: fixed;
    height: 100Vh;
    width: 100vw;
    top: 0;
    left: 0;
    border: 5px solid yellow;
    visibility: hidden;
    z-index: 1;

  }
  .new{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    padding: 10px;
    
    z-index: 3;
  }
  .new-card{
    text-align: center;
width: 100%;
display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
  }
  
  .back{
    color: white;
    font-size: 45px;
    margin: 5px;
  }
  h1{
    font-size: 45px;
    padding: 0px;
    font-family: Roboto, sans-serif;
  }